[submodule "Modules.Domain"]
	path = Modules.Domain
	url = https://github.com/abaksheiev/Modules.Domain.git
[submodule "Modules.WebUI"]
	path = Modules.WebUI
	url = https://github.com/abaksheiev/Modules.WebUI.git
